body {
    background-color: rgb(55, 56, 54);
}

button {
    padding: 10px 20px;
    border-radius: 10px;
}

div {
    color: white;
    font-size: 20px;
}

#result {
    color: white;
    margin-top: 20px;
}
